<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>List of Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal type</th>
            <th>King</th>
            <th>Good/Bad?</th>
        </tr>
        <tr th:each = "account, iter : ${accounts}" th:object = "${account}">
            <td th:text = "${iter.count}"></td>
            <td th:text = "${account.name}"></td>
            <td th:text = "${account.balance}"></td>
            <td th:text = "${account.animalType}"></td>
            <td th:text = "${account.name} != 'Mufasa' ? 'No' : 'Yes'"></td>
            <td th:text = "${account.bad} != 'True' ? 'Good one' : 'Bad guy'"></td>
        </tr>
    </table>

    <form action = "#" th:action="@{/list}" method="post" th:object="${account}">
        <p>Name: <input type="text" th:field="*{name}"/></p>
    <input type="submit" value="Add balance"/>
    </form>
</body>
</html>